In [1]:
KotlinVersion.CURRENT             // 코틀린 현재 버전

1.8.20

## 그룹화 처리

groupBy, groupByTo, groupingBy

In [2]:
val cities = listOf("제주","서울","상하이","베를린")

val keySelector = {  city: String ->                    // 람다표현식 저의
                     if(city.length == 3) "A" else "B"}

 
cities.groupBy(keySelector)                              // 함수 전달을 해서 그룹화 처리
    .forEach { (key, value) ->                           // 맵으로 구성된 결과를 출력
        println("$key : $value")}

cities.groupBy { if(it.length == 3) "A" else "B" }       // 람다를 바로 전달해서 처리
      .forEach { (key, value) ->
      println("$key : $value")}

B : [제주, 서울]
A : [상하이, 베를린]
B : [제주, 서울]
A : [상하이, 베를린]

## groupby1


– groupBy :

  Map객체 를 반환
에 의해 값을 변경합니다.valueTransform
destination결과적으로 변경 가능한 Map을 얻기 위해 객체 를 전달할 수 있습니다.
– grouping 기준 :

  Grouping객체 를 반환
가 없으므로 , , , … 등의 방법으로 valueTransform값을 변경합니다 .GroupingeachCount()fold()reduce()aggregate()
변경 가능한 Map을 반환하는 간단한 방법을 제공하지 않습니다.

In [3]:
data class Animals(var name: String,                 // 데이터 클래스 정의 
                   var species: String, 
                   var age: Int )
var animals = listOf(                                //  리스트 생성 
        Animals("Poppy", "토끼", 4),
        Animals("Meong", "개", 8),
        Animals("Mong", "개", 12),
        Animals("Holly", "돼지", 3),
        Animals("Jimmy", "고양이", 10),
        Animals("Hammy", "원숭이", 2)
)

val grouped = animals.groupBy { ani -> ani.species }             // 종으로 그룹화 
println(grouped.javaClass.kotlin)                                // 그룹화 클래스 

println("그룹화 키 : " + grouped.keys)                             // 그룹화 범주가 키  
println("그룹화 값 : " + grouped.values.toList()[0])               //  값들 확인 

println(grouped.values.javaClass)

val grouped1 = animals.groupByTo(mutableMapOf()) { it.species }  // 맵에 그룹화시키기 
println(grouped1["rabbit"])

println(grouped == grouped1)

class java.util.LinkedHashMap
그룹화 키 : [토끼, 개, 돼지, 고양이, 원숭이]
그룹화 값 : [Animals(name=Poppy, species=토끼, age=4)]
class java.util.LinkedHashMap$LinkedValues
null
true

## 그룹화 처리

In [4]:
data class Person (val name: String, val age: Int )         // 데이터 클래스 정의        

val names = listOf("가을", "가름","겨봄", "겨울",)
val ages = listOf(15, 25, 25, 22,)

println(names.zip(ages))                                    // 두 개를 묶어서 튜플 구성
names.zip(ages) {name,age -> Person(name,age)}              // 데이터 클래스 객체 생성 
                             .forEach {println(it)}         // 출력 

fun people (): Map<Int, List<Person>>  =                    // 그룹화 처리 함수
  (names.zip(ages) { name, age ->Person (name, age)})
                               .groupBy (Person::age)

val map : Map<Int, List<Person>> = people()                 // 객체를 생성한 후 에 나이로 그룹화 
map.forEach {println(it)}                                   // 그룹화된 것을 출력

[(가을, 15), (가름, 25), (겨봄, 25), (겨울, 22)]
Person(name=가을, age=15)
Person(name=가름, age=25)
Person(name=겨봄, age=25)
Person(name=겨울, age=22)
15=[Person(name=가을, age=15)]
25=[Person(name=가름, age=25), Person(name=겨봄, age=25)]
22=[Person(name=겨울, age=22)]

## 그루핑 처리

In [5]:
val ss = listOf("hello", "world", "kotlin")                  // 단어길이로 그룹화      
                    .groupingBy{it.length}.eachCount()       // 그룹화하고 개수세기 

ss.forEach {println(it)}

val result = "helloWordl"                                     // 문자열내의 단어로
                    .groupingBy(Char::lowercase).eachCount()  // 그룹화하고 개수세기
println(result) 

val uniqueLengthWord = 
    listOf("a", "aha", "world", "hello", "the", "dog")        // 리스트 내의 각 단어별로
                          .groupingBy{it.length}.eachCount()  // 그룹화하고 개수세기
println(uniqueLengthWord)

5=2
6=1
{h=1, e=1, l=3, o=2, w=1, r=1, d=1}
{1=1, 3=3, 5=2}

In [6]:
data class Student(val name: String,                   // 데이터 클래스 만들기 
                   val room: Int, 
                   val sex: String, 
                   val height: Int, 
                   val weight: Double)

val students = listOf(                                  // 리스트 만들기
     Student("맥도널드", 1, "M", 165, 56.8),
     Student("미니", 1, "F", 155, 53.2),
     Student("모솔", 1, "M", 165, 67.3),
     Student("현솔", 2, "M", 168, 65.6),
     Student("강솔", 2, "F", 155, 48.9),
     Student("장수", 1, "M", 165, 54.1),
     Student("장나라", 2, "F", 155, 51.2),
     Student("주소연", 1, "F", 155, 53.6))


val s = students.groupingBy { it.sex }.eachCount()       // 성별로 그룹해서 개수 세기 
s.forEach { println(it) }

val s1 = students.groupingBy { it.room }.eachCount()     // 룸으로 그룹해서 개수 세게 
s1.forEach { println(it) }
                                                         // 성별로 그룹화헤서 키합산하기
val s2 = students.groupingBy { it.sex }
    .fold(0) { acc, element -> acc + element.height }
s2.forEach { println(it) }

M=4
F=4
1=5
2=3
M=663
F=620