# 참조

https://winterbe.com/posts/2018/07/23/kotlin-sequence-tutorial/

## 시퀀스 생성 방법

In [1]:
val seqOfElements = sequenceOf("first" ,"second", "third")

## 청크

In [2]:
val seqFromChunks = sequence {
    yield(1)
    yieldAll((2..5).toList())
}

## 컬렉션

In [3]:
val seqFromIterable = (1..10).asSequence()

## 컬렉션과 시퀀스 처리

In [4]:
val withoutSequence = (1..10).filter{it % 2 == 1}.map { it * 2 }.toList()

In [5]:
withoutSequence

[2, 6, 10, 14, 18]

In [6]:
val withSequence = (1..10).asSequence().filter{it % 2 == 1}.map { it * 2 }

In [7]:
withSequence

kotlin.sequences.TransformingSequence@305a0c5f

In [8]:
withSequence.toList()

[2, 6, 10, 14, 18]

## 시퀀스 여러가지 만들어서 처리하기

In [8]:
val result = sequenceOf(1, 2, 3, 4, 5)
    .filter { it % 2 == 1 }
    .toList()

print(result)     // [1, 3, 5]

[1, 3, 5]

In [9]:
val result = generateSequence(0) { it + 1 }
    .take(5)
    .filter { it % 2 == 1 }
    .toList()

print(result)     // [1, 3, 5]

[1, 3]

In [10]:
val result = (1..6)
    .asSequence()
    .filter { it % 2 == 1 }
    .toList()

print(result)   // [1, 3, 5]

[1, 3, 5]

## 시퀀스로 만들고 여러번 처리

In [ ]:
val sequence = sequenceOf(1, 2, 3, 4, 5)
    .filter { it % 2 == 1 }
println(sequence.toList())      // [1, 3, 5]
println(sequence.first())       // 1

In [6]:
data class Animals(var name: String, var species: String, var age: Int )

var animals = arrayOf(
        Animals("Poppy", "rabbit", 4),
        Animals("Caro", "dog", 8),
        Animals("Teddy", "dog", 12),
        Animals("Molly", "fish", 3),
        Animals("Jimmy", "cat", 10),
        Animals("Harold", "fish", 2)
)

val aniSeq = animals.asSequence().filter {it.age > 8}
                     .map {it.name}
                     .toList()

In [7]:
aniSeq

[Teddy, Jimmy]

In [14]:
val result = sequenceOf("a", "b", "c")
    .map {
        println("map: $it")
        it.toUpperCase()
    }
    .any {
        println("any: $it")
        it.startsWith("B")
    }

println(result)

map: a
any: A
map: b
any: B
true

In [15]:
sequenceOf("a", "b", "c", "d")
    .map {
        println("map: $it")
        it.toUpperCase()
    }
    .filter {
        println("filter: $it")
        it.startsWith("a", ignoreCase = true)
    }
    .forEach {
        println("forEach: $it")
    }

map: a
filter: A
forEach: A
map: b
filter: B
map: c
filter: C
map: d
filter: D

In [16]:
sequenceOf("a", "b", "c", "d")
    .filter {
        println("filter: $it")
        it.startsWith("a", ignoreCase = true)
    }
    .map {
        println("map: $it")
        it.toUpperCase()
    }
    .forEach {
        println("forEach: $it")
    }

filter: a
map: a
forEach: A
filter: b
filter: c
filter: d

In [17]:
// variant 1
val list1 = listOf(1, 2, 3, 4, 5)
    .asSequence()
    .filter { it % 2 == 1 }
    .sortedDescending()
    .map { it.toString() }
    .toList()

println(list1)   // ["5", "3", "1"]

// variant 2
val list2 = listOf(1, 2, 3, 4, 5)
    .filter { it % 2 == 1 }
    .sortedDescending()
    .map { it.toString() }

println(list2)   // ["5", "3", "1"]

[5, 3, 1]
[5, 3, 1]

In [18]:
data class Person(val name: String, val age: Int)

val persons = listOf(
    Person("Peter", 16),
    Person("Anna", 23),
    Person("Anna", 28),
    Person("Sonya", 39)
)

val names = persons
    .asSequence()
    .filter { it.age > 18 }
    .map { it.name }
    .distinct()
    .sorted()
    .toList()

print(names)     // [Anna, Sonya]

[Anna, Sonya]

In [19]:
val result = persons
    .asSequence()
    .sortedBy { it.age }
    .toList()

print(result)

[Person(name=Peter, age=16), Person(name=Anna, age=23), Person(name=Anna, age=28), Person(name=Sonya, age=39)]

In [20]:
val result = persons
    .asSequence()
    .distinctBy { it.name }
    .toList()

print(result)

[Person(name=Peter, age=16), Person(name=Anna, age=23), Person(name=Sonya, age=39)]

In [21]:
val result = persons
    .asSequence()
    .maxByOrNull { it.age }

print(result)

Person(name=Sonya, age=39)

In [22]:
val result = persons
    .asSequence()
    .groupBy { it.name }

print(result)

{Peter=[Person(name=Peter, age=16)], Anna=[Person(name=Anna, age=23), Person(name=Anna, age=28)], Sonya=[Person(name=Sonya, age=39)]}

In [23]:
val result = persons
    .asSequence()
    .associateBy { it.name }

print(result)

{Peter=Person(name=Peter, age=16), Anna=Person(name=Anna, age=28), Sonya=Person(name=Sonya, age=39)}

In [24]:
val result = sequenceOf(1, 2, 3, 4, 5)
    .filter { it % 2 == 1 }
    .any { it % 2 == 0 }

print(result)

false

In [25]:
val result = sequenceOf("a", "b", "c", "d")
    .withIndex()
    .filter { it.index % 2 == 0 }
    .map { it.value }
    .toList()

print(result)

[a, c]

In [26]:
val result = sequenceOf("a", "b", "c")
    .plus("d")
    .minus("c")
    .map { it.toUpperCase() }
    .toList()

print(result)

[A, B, D]

In [27]:
val result = sequenceOf(listOf(1, 2, 3), listOf(4, 5, 6))
    .flatMap {
        it.asSequence().filter { it % 2 == 1 }
    }
    .toList()

print(result)

[1, 3, 5]

In [28]:
val result = persons
    .asSequence()
    .map { it.name }
    .distinct()
    .joinToString();

print(result)

Peter, Anna, Sonya

In [29]:
fun <T> Sequence<T>.shuffle(): Sequence<T> {
    return toMutableList()
        .apply { shuffle() }
        .asSequence()
}

In [30]:
val result = sequenceOf(1, 2, 3, 4, 5)
    .shuffle()
    .toList()

print(result)

[2, 1, 5, 4, 3]