## 매개변수는 동일하지만 자료형이 다른 경우

In [1]:
fun test1(a: String, b: String? = null) {
    println("test1")
}

fun test1(a: Int, b: String) {
    println("test2")
}

In [2]:
test1(100,"a")

test2

## 매개변수 개수가 다른 경우

In [3]:
fun test2(a: String, b: String? = null) {
    println("test1")
}

fun test2(a: String, b: String, c: String? = null) {
    println("test2")
}

In [4]:
test2("a","b") //result "test2"

test2

In [5]:
fun test3(a: Any) : String = "매개변수 하나"
fun test3(a: String, b: String = "Hello") :String = "매개변수 두개"
fun test3(vararg a: String) :String = "가변 매개변수"

In [6]:
test3("a","b","c","d")

가변 매개변수

In [7]:
test3("a")

매개변수 두개

In [8]:
test3(100)

매개변수 하나

## 메소드와 확장함수 오버로딩

In [9]:
class A {
    fun test4(a: String, b: String? = null) {
        println("test1")
    }

    fun test4(a: String, b: String, c: String) {
        println("test2")
    }
}

In [10]:
fun A.test4(a: String, b: String, c: Int) {
    println("test3")
}

fun A.test4(a: String, b: String, c: Int? ) {
    println("test4")
}

In [11]:
val a = A()

In [12]:
a.test4("a","b",null)

test4

In [13]:
a.test4("a","b",100)

test3

In [14]:
a.test4("a")

test1

In [15]:
a.test4("a","b")

test1

In [16]:
a.test4("a","b","c")

test2

## 연산자 오버로딩

In [17]:
operator fun String.times(x:Int) : String {
    var result : String = this
    for (i in (1..x-1)) {
        result = result + this
    }
    return result
}

In [18]:
"a" * 5

aaaaa

## 사용자 정의 연산자 오버로딩

In [19]:
class A(var value:String)  {
    operator fun times(x:Int) : A {
        var result : String = value
        for (i in (1..x-1)) {
            result = result + value
        }
        this.value = result
        return this
    }
}

In [20]:
val aa = A("a")

In [21]:
(aa * 5).value

aaaaa

## 문자열을 특정 데이터클래스로 반환

In [22]:
data class Person(val name: String, val age: String)

fun String.split(): Person {
    val (name, age) = split(".", limit = 2)
    return Person(name, age)
}

In [23]:
"문용준.33".split()

Person(name=문용준, age=33)

In [24]:
"문용준,33".split(",")

[문용준, 33]

In [25]:
class Employee(val name :String, var salary:Int) {
    operator fun plusAssign(increaseSalary: Int) {
        salary += increaseSalary
        println("$name 님은 ${salary}원이 인상되었습니다.")
    }

    operator fun minusAssign(decreaseSalary: Int) {
        salary -= decreaseSalary
        println("$name 님은 ${salary}원이 인하되었습니다")
    }
}

In [26]:
val e = Employee("가을이", 1000)

In [27]:
e += 1000

가을이 님은 2000원이 인상되었습니다.

In [28]:
e -= 1000

가을이 님은 1000원이 인하되었습니다